<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="indexing:rebuildall" type="Sitecore.Support.ContentSearch.Client.Commands.RebuildAll,Sitecore.Support.141098" patch:i="*[@type='Sitecore.ContentSearch.Client.Commands.RebuildAll,Sitecore.ContentSearch.Client']" />
    </commands>
  </sitecore>
</configuration>